*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    scroll-behavior: smooth;
}

:root{
    --text-color: #ff4800;
    --main-color: #052c65;
    --color-new: #0ABAB5;
}

html{
    font-size: 62.5%;
}

body{
    height: 100%;
    font-size: 1.6rem;
    background-color: #d7d7d7;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    text-decoration: none;
}

h2{
    color: var(--main-color);
    display: flex;
    flex-direction: column;
}
